<head>
  <title>Scrabble!!</title>
</head>
<body>
  <h1>Scrabble!!</h1>
  <form class="" action="/new_word" method="post">
    <h2>Enter in your word!<input type="text" name="new-word"></h2>
    <button type="submit" name="button">Submit</button>
  </form>
  <div class="value">
    <h2>@Model</h2>
  </div>
</body>
